## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc

## Intermediate documents:
*.dvi
*-converted-to.*
# these rules might exclude image files for figures etc.
# *.ps
# *.eps
# *.pdf

## Bibliography auxiliary files (bibtex/biblatex/biber):
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.brf
*.run.xml

## Build tool auxiliary files:
*.fdb_latexmk
*.synctex
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

# project specific

*.[0-9][0-9][0-9][0-9].ml
*.[0-9][0-9][0-9][0-9].msg
*.[0-9][0-9][0-9][0-9].err
*.[0-9][0-9][0-9][0-9].cmi
*.[0-9][0-9][0-9][0-9].cmo

## Auxiliary and intermediate files from other packages:

# checklistings

*.chkl

# beamer
*.nav
*.snm
*.vrb

# glossaries
*.acn
*.acr
*.glg
*.glo
*.gls

# makeidx
*.idx
*.ilg
*.ind
*.ist

